body {
    background-image: url(pictures/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: rgb(244, 230, 223);
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-image: url("pictures/glow.png");
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: aliceblue;
}

img {
    max-width: 100%;
    height: auto;
}

.topnav {
    background-color: #6b6f85;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 5;
}

.topnav a {
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topnav a:hover {
    background-color: gray;
    color: white;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 50px;
    padding-left: 80px;
    height: 500px;
}

.cardd {
    background-color: rgb(255, 241, 226);
    padding: 0% 10% 10% 10%;
}

.card2 {
    background-color: rgba(255, 255, 255, 0.177);
    padding: 5% 10%;
}

#section1 {
    height: 1000px;
    background-color: #7e73aa;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 30px;
}

#section2 {
    height: 2000px;
    background-color: #687f97;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;

}

#section3 {
    height: 1000px;
    background-color: #6c8d78;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #04AA6D;
}